<li class="prayer">
    <div class="one left image">
        {% if prayer.anonymous %}
            <img src="{{ asset('img/anonymous.png') }}" class="profile-image" title="Anonymous Prayer">
        {% else %}
            <a href="#">
                <img src="{{ asset(profile_image(prayer.user)) }}" align="left" class="profile-image" title="{{ prayer.user.username }}">
            </a>
        {% endif %}
    </div>
    <div class="eleven right">
        <div class="prayer-meta">
            <div class="name eight left">
                {% if prayer.anonymous %}
                    Anonymous
                {% else %}
                    <a href="#">
                        {% if prayer.user.firstName and prayer.user.lastName %}
                            {{ prayer.user.firstName ~ ' ' ~ prayer.user.lastName }}
                        {% else %}
                            {{ prayer.user.username }}
                        {% endif %}
                    </a>
                    {% if prayer.prayerGroup %}
                        <span class="group"> posted from group <a href="{{ path('group_view', {id: prayer.prayerGroup.id}) }}">{{ prayer.prayerGroup.name }}</a></span>
                    {% endif %}
                {% endif %}
            </div>
            <div class="date four right">{{ prayer.createdAt|date }}</div>
        </div>
        <div class="prayer-text">
            {{ prayer.text }}
        </div>
        <div class="prayer-actions">
            {% if app.user.isPrayingFor(prayer) %}
                <form action="{{ path('prayer_remove_user_list', {id: prayer.id}) }}" method="post" class="prayer-pray">
                    <button type="submit">Stop Praying</button>
                </form>
            {% else %}
                <form action="{{ path('prayer_create_user_list', {id: prayer.id}) }}" method="post" class="prayer-pray">
                    <button type="submit">Pray for this</button>
                </form>
            {% endif %}
            |
            <form action="{{ path('prayer_archive', {id: prayer.id}) }}" method="post" class="prayer-archive">
                <button type="submit">Archive</button>
            </form>
            | <a href="#" class="prayer-inappropriate">Flag as inappropriate</a>
        </div>
    </div>
</li>
