<li class="prayer">
    <div class="prayer-text">
        {{ prayer.text }}
    </div>
    <div class="prayer-meta">
        <p>Created by <a href="">{{ prayer.user.username }}</a> on {{ prayer.createdAt|date }}</p>
        {% if prayer.prayerGroup %}
            <p class="prayer-group">Message in group: <a href="{{ path('group_view', {id: prayer.prayerGroup.id}) }}">{{ prayer.prayerGroup.name }}</a></p>
        {% endif %}
    </div>
    <div class="prayer-actions">
        <a href="" class="prayer-pray">Pray for this</a>
        | <a href="" class="prayer-archive">Archive</a>
        | <a href="" class="prayer-inappropriate">Flag as inappropriate</a>
    </div>
</li>
