<li class="prayer">
    <div class="one left image">
        <a href="#">
            {# if prayer.user.image %}
                <img src="{{ asset('img/noprofileimage.jpg') }}" align="left">
            {% else #}
                <img src="{{ asset('img/noprofileimage.jpg') }}" align="left">
            {# endif #}
        </a>
    </div>
    <div class="eleven right">
        <div class="prayer-meta">
            <div class="name eight left">
                <a href="#">{{ prayer.user.username }}</a>{% if prayer.prayerGroup %}<span class="group"> posted from group <a href="{{ path('group_view', {id: prayer.prayerGroup.id}) }}">{{ prayer.prayerGroup.name }}</a></span>{% endif %}
            </div>
            <div class="date four right">{{ prayer.createdAt|date }}</div>
        </div>
        <div class="prayer-text">
            {{ prayer.text }}
        </div>
        <div class="prayer-actions">
            {% if app.user.isPrayingFor(prayer) %}
                <form action="{{ path('prayer_remove_user_list', {id: prayer.id}) }}" method="post" class="prayer-pray">
                    <button type="submit">Stop Praying</button>
                </form>
            {% else %}
                <form action="{{ path('prayer_create_user_list', {id: prayer.id}) }}" method="post" class="prayer-pray">
                    <button type="submit">Pray for this</button>
                </form>
            {% endif %}
            | <a href="#" class="prayer-archive">Archive</a>
            | <a href="#" class="prayer-inappropriate">Flag as inappropriate</a>
        </div>
    </div>
</li>
