{% extends "PrayerToShareCoreBundle:Layout:layout.html.twig" %}

{% block content %}
    <div class="left sidebar">
        <h2 class="subtitle"><a href="#">Prayer Book</a></h2>
        <div class="stats">
            <div class="following">Following (<span>0</span>)</div>
            <div class="followers">Followers (<span>0</span>)</div>
        </div>

        {% set prayer = app.user.mostRecentPrayer %}
        {% if prayer %}
            <h2 class="subtitle">Recent Prayer</h2>
            <div class="quoted">{{ prayer.text }}</div>
        {% endif %}
    </div>

    <div class="left content">
        <div class="profile">
            <div class="info">
                <div class="profile-image">
                    <img src="{{ asset('img/noprofileimage.jpg') }}" align="left">
                </div>
                <div>
                    <div class="profile-name">
                        <a href="#">Name Here</a>
                    </div>
                    <a href="#" class="profile-link">(edit profile)</a>
                </div>
            </div>
            <div class="groups">
                {% for membership in app.user.prayerGroups %}
                    <p>{{ membership.prayerGroup.name }}</p>
                {% endfor %}
                <a href="{{ path('group_list') }}">View All Groups</a>
            </div>
        </div>

        <div class="prayer-form">
            <form action="{{ path('prayer_create') }}" method="post">
                {{ form_label(form.NewPost) }}
                {{ form_errors(form.NewPost) }}
                {{ form_widget(form.NewPost, { attr: { 'class': 'new-post', 'placeholder': 'What is on your heart?' } }) }}
                {{ form_widget(form.submit, { attr: { 'class': 'btn' } }) }}
            </form>
        </div>

        <div class="prayer-feed">
            <label>Prayer Requests</label>
            <div class="feed">No prayer requests</div>
        </div>
    </div>
{% endblock %}

{% block requirejs %}
    {{ include('PrayerToShareCoreBundle:Layout:requirejs.html.twig', {module: 'pages/dashboard'}) }}
{% endblock %}
