<header class="header-placeholder"></header>

<header id="header" class="header">
    <div class="header-inner">
        <div class="logo">
            <a href="/">
                {#<div>P<span>t</span>S</div>#}
                <div class="logo-text">prayer<span><i>t</i>o</span>share</div>
                <img src="{{ asset('img/logo-bg.png') }}" height="60" />
                {#<div>prayer <span>to</span> share</div>#}
            </a>
        </div>

        {% if not is_granted('ROLE_USER') and (csrf_token is defined or auth_csrf_token is defined) %}
            <div class="account-links">
                {% include "PrayerToShareMainBundle:Homepage:_login-form.html.twig" %}
            </div>
        {% endif %}

        {% if is_granted('ROLE_USER') %}
            <div class="header-links">
                <ul>
                    <li><a href="{{ path('home') }}" class="lvl1">Home</a></li>
                    <li><a href="{{ path('fos_user_profile_edit') }}" class="lvl1">Profile</a></li>
                    <li>
                        <a href="{{ path('account') }}" class="lvl1">Account</a>
                        <div class="menu">
                            <a href="{{ path('settings') }}">Account Settings</a>
                            <a href="{{ path('privacy') }}">Privacy Settings</a>
                            <a href="/logout">Logout</a>
                            <div class="sep"></div>
                            <a href="{{ path('help') }}">Help</a>
                        </div>
                    </li>
                </ul>
            </div>
        {% endif %}
    </div>
</header>
