{% extends "PrayerToShareCoreBundle:Layout:layout.html.twig" %}

{% block content %}
    <div class="left sidebar">
        {% include "PrayerToShareMainBundle:Dashboard:_sidebar.html.twig" %}
    </div>

    <div class="left content">
        <div class="profile">
            <div class="info">
                {% include "PrayerToShareMainBundle:Dashboard:_profile.html.twig" %}
            </div>
            <div class="groups">
                {% include "PrayerToShareMainBundle:Dashboard:_groups.html.twig" %}
            </div>
        </div>

        <div class="page-content">
            <a href="{{ path('group_new') }}" class="btn right">Create a New Prayer Group</a>

            <h2 class="subtitle">My Prayer Groups</h2>
            <ol>
                {% for membership in groups %}
                    <li>
                        <a href="{{ path('group_view', {id: membership.prayerGroup.id}) }}">{{ membership.prayerGroup.name }}</a>
                        <form action="{{ path('group_leave', {id: membership.prayerGroup.id}) }}" method="post">
                            <button type="submit">Leave Group</button>
                        </form>
                    </li>
                {% endfor %}
            </ol>

            <h3 class="subtitle">Public Prayer Groups</h3>
            <ul>
                {% for group in publicGroups %}
                    <li>
                        <a href="{{ path('group_view', {id: group.id}) }}">{{ group.name }}</a>
                        <form action="{{ path('group_join', {id: group.id}) }}" method="post">
                            <button type="submit">Join Group</button>
                        </form>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}
