{% extends "PrayerToShareCoreBundle:Layout:layout.html.twig" %}

{% block content %}
    <h2>My Prayer Groups</h2>
    <ol>
        {% for membership in groups %}
            <li>
                <a href="{{ path('group_view', {id: membership.prayerGroup.id}) }}">{{ membership.prayerGroup.name }}</a>
                <form action="{{ path('group_leave', {id: membership.prayerGroup.id}) }}" method="post">
                    <button type="submit">Leave Group</button>
                </form>
            </li>
        {% endfor %}
    </ol>

    <h3>Public Prayer Groups</h3>
    <ul>
        {% for group in publicGroups %}
            <li><a href="{{ path('group_view', {id: group.id}) }}">{{ group.name }}</a></li>
        {% endfor %}
    </ul>

    <a href="{{ path('group_new') }}">Create a New Prayer Group</a>
{% endblock %}
