<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="post" role="form">
    <div class="block six left">
        {{ form_label(form.username) }}
        {{ form_widget(form.username, {attr: {class: "register_input"}}) }}
    </div>
    <div class="block six left">
        {{ form_label(form.email) }}
        {{ form_widget(form.email, {attr: {class: "register_input"}}) }}
    </div>
    <div class="block six left">
        {{ form_label(form.plainPassword.first) }}
        {{ form_widget(form.plainPassword.first, {attr: {class: "register_input"}}) }}
    </div>
    <div class="block six left">
        {{ form_label(form.plainPassword.second, 'Re-enter Password') }}
        {{ form_widget(form.plainPassword.second, {attr: {class: "register_input"}}) }}
    </div>
    <div class="block six left">
        <label for="fname">First Name</label>
        <input type="text" name="fname" class="register_input" />
    </div>
    <div class="block six left">
        <label for="lname">Last Name</label>
        <input type="text" name="lname" class="register_input" />
    </div>
    <div class="block twelve">
        <input type="submit" name="submit" value="Sign Up" class="login_submit right" />
    </div>
    <input type="hidden" name="pts_action" value="register" />
    {{ form_rest(form) }}
</form>
